In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('final_harass_df.csv')
df.groupby(['race', 'year']).sum()

                                                count
race                                      year
American Indian or Alaska Native          2011     12
                                          2013      0
                                          2015      4
                                          2017      0
Asian                                     2011     12
                                          2013     12
                                          2015      0
                                          2017     12
Black                                     2011    680
                                          2013    304
                                          2015    268
                                          2017    148
Hispanic                                  2011     86
                                          2013     86
                                          2015     44
                                          2017     38
Native Hawaiian or other Pacific Islander 2011      0
                                          2013      0
                                          2015      4
                                          2017      0
Two or more races                         2011     28
                                          2013     16
                                          2015     12
                                          2017      4
White                                     2011    454
                                          2013    312
                                          2015     64
                                          2017     72

In [12]:
df = df[df['race'] != 'Native Hawaiian or other Pacific Islander']
df['race'].unique()

array(['American Indian or Alaska Native', 'Asian', 'Black', 'Hispanic',
       'Two or more races', 'White'], dtype=object)

In [13]:
df.to_csv('final_harass_df.csv', index=False)

In [17]:
df = pd.read_csv('final_discipline_df.csv')
df.groupby(['race', 'year']).sum()

                                                count
race                                      year
American Indian or Alaska Native          2011      4
                                          2013      0
                                          2015      0
                                          2017      2
Asian                                     2011     16
                                          2013      8
                                          2015      0
                                          2017     10
Black                                     2011    460
                                          2013    184
                                          2015    246
                                          2017     94
Hispanic                                  2011     40
                                          2013     30
                                          2015     16
                                          2017     30
Native Hawaiian or other Pacific Islander 2011      0
                                          2013      0
                                          2015      0
                                          2017      4
Two or more races                         2011     16
                                          2013     12
                                          2015      4
                                          2017      4
White                                     2011    348
                                          2013    358
                                          2015    158
                                          2017    100

In [18]:
df = df[df['race'] != 'Native Hawaiian or other Pacific Islander']

In [19]:
df.to_csv('final_discipline_df.csv', index=False)